<% layout('/layouts/boilerplate') -%>
<body>
    <h1>Edit Your Listing.</h1>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="post">
        <input type="text" name="title" id="title" value="<%= listing.title %>"><br><br>
        <input type="text" name="description" id="description" value="<%= listing.description %>"><br><br>
        <input type="text" name="image" id="image" value="<%= listing.image %>"><br><br>
        <input type="number" name="price" id="price" value="<%= listing.price %>"><br><br>
        <input type="text" name="location" id="location" value="<%= listing.location %>"><br><br>
        <input type="text" name="country" id="country" value="<%= listing.country %>"><br><br>
        <button>Submit</button>
    </form>
</body>