<% layout('/layouts/boilerplate') -%>

  <style>
    .swiper {
      width: 26rem;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
    }

    .swiper-slide img {
      display: block;
    }

    .card-text {
      margin-bottom: -4px !important;
    }

    .avgRating {
      display: flex;
      align-items: center;
      gap: 5px;
      position: absolute;
      left: 350px;
      margin-bottom: -14px !important;
    }

    .rating-text {
      display: flex;
    }

    .swiper-button {
      transform: scale(0.6);
      color: black;
    }

    .swiper-pagination-bullet {
      background: rgb(176, 174, 174) !important;
      opacity: 0.7;
    }

    .swiper-pagination-bullet-active {
      background: white !important;
      opacity: 1;
    }

    @media (max-width: 600px) {
      .swiper {
        width: 23rem;
      }

      .avgRating {
        left: 300px !important;
      }

      .card-body {
        margin-top: -40px !important;
      }

      .swiper-pagination {
        margin-bottom: 50px !important;
      }
    }
  </style>

  <body>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2 mb-5">
      <% for(let listing of allListing) { %>
        <a href="/listings/<%= listing._id %>">
          <div class="card col index-card" style="width: 20rem">

            <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                <% listing.image.forEach(e=> { %>
                  <div class="swiper-slide">
                    <img src="<%= e.url %>" class="card-img-top" alt="<%= e.filename %>" loading="lazy"/>
                  </div>
                  <% }) %>
              </div>

              <div class="swiper-pagination"></div>
              <div class="swiper-button-next swiper-button"></div>
              <div class="swiper-button-prev swiper-button"></div>
            </div>

            <div class="card-img-overlay"></div>
            <div class="card-body">

              <div class="card-text rating-text" style="font-size: 15px;">
                <b>
                  <%= listing.location %>, <%= listing.country %>
                </b>

                <p class="avgRating">
                  <% if(listing.reviews && listing.reviews.length){ %>
                    <% const totalReviews=listing.reviews.length %>
                      <% const sumOfRatings=listing.reviews.reduce((sum, review)=> sum + review.rating, 0); %>
                        <% const averageRating=(sumOfRatings/totalReviews).toFixed(2) %>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true"
                            role="presentation" focusable="false"
                            style="display: block; height: 16px; width: 16px; fill: currentcolor;">
                            <path fill-rule="evenodd"
                              d="m15.1 1.58-4.13 8.88-9.86 1.27a1 1 0 0 0-.54 1.74l7.3 6.57-1.97 9.85a1 1 0 0 0 1.48 1.06l8.62-5 8.63 5a1 1 0 0 0 1.48-1.06l-1.97-9.85 7.3-6.57a1 1 0 0 0-.55-1.73l-9.86-1.28-4.12-8.88a1 1 0 0 0-1.82 0z">
                            </path>
                          </svg>
                          <%= averageRating %>
                            <% } %>
                </p>
              </div>

              <p class="card-text" style="font-size: 15px;">
                Hosted by <%= listing.owner.username %>
              </p>

              <p class="card-text" style="font-size: 16px;">
                <b>Rs. <%= listing.price.toLocaleString("en-NP") %></b> night
              </p>


            </div>
          </div>
        </a>
        <% } %>
    </div>


    <script>
      document.addEventListener('DOMContentLoaded', (event) => {
        var swiper = new Swiper(".mySwiper", {
          spaceBetween: 30,
          effect: "fade",
          centeredSlides: true,
          autoplay: {
            delay: 4500,
            disableOnInteraction: false,
          },
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
          pagination: {
            el: ".swiper-pagination",
            dynamicBullets: true,
          },
        });
      });
    </script>
  </body>